.main {
  background-color: #1A2A3A;
}

.carousel {
  padding: 24px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  padding: 24px 80px 50px;
  justify-content: space-between;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}