
.contentContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: #435264;
    gap: 24px;
    border-radius: 10px;
    margin: 14px;
    padding: 18px;

}

.contentImage{
    border-radius: 10px;
}

.contentName{
    color: #fff;
    font-family: Verdana;
    font-size: 18px;

}

.avaliacao{
    color: #FFC107;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 90%;
}

.contentLink{
    padding-top: 5px;
    background-color: #4A90E2;
    width: 100px;
    height: 30px;
    color: rgba(0, 0, 0, 0.7);
    align-self: end;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    
    
}

.contentLink:hover{
    color: rgba(255, 255, 255, 0.8);
}


.contentInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
}

.descricao{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 80%;
}